
.zr_top{
    color:#fff;
    background:#06CE98;

}
.zr_top .logo a{
    color:#fff!important;
}
.welcom{
    margin: 20px 0 10px;
    width: 100%;
    font-size: 14px;
    line-height: 25px;
    color: #666;
}
.warn{
    margin: 0px 0 20px 0;
    width: 100%;
    font-size: 14px;
    line-height: 25px;
    color: orange;
}
.up_info {
    width: 100%;
    border-radius: 5px;
    background: #fff;
    padding: 20px;
    margin-bottom: 40px;
}

.up_info h3 {
    padding: 0 0 8 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.up_info h3 span {
    float: right;
    transform: rotate(45deg);
    font-size: 28px;
    margin-top: -15px;
    cursor: pointer;
}

.up_pwd .item,
.up_info .item {
    width: 100%;
    height: 50px;
}

.up_pwd label,
.up_info label {
    margin-right: 10px;
    width: 120px;
    text-align: right;
    display: block;
    line-height: 50px;
    float: left;
    position: relative;
    padding-right: 20px;
}
.up_info .require:after{
    content: "*";
    display: block;
    position: absolute;
    right: 10px;
    top: 3px;
    color: orange;
    line-height: 50px;
}
.up_pwd input,
.up_info input:not([name=gender]) {
    width: 250px;
    height: 30px;
    line-height: 30px;
    outline: none;
    border: 1px solid #e6e6e6;
    padding: 0 5px;
    float: left;
    margin: 10px 0;
}
.up_info input[name=gender]{
    margin: 20px 10px 0;
}

.up_info .up_info_btn {
    width: 90px!important;
    height: 40px!important;
    line-height: 40px!important;
    background: #06CE98;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin-bottom:80px;
}

.up_info .up_info_btn {
    margin-left: 50px!important;
}

.up_pwd .up_btn:hover,
.up_info .up_info_btn:hover {
    background: #4BDCB5;
}
.update_info{
    cursor: pointer;
    line-height: 32px;
}